@media (min-width: 0px) {
  main > h1:first-child {
    margin-top: 110px;
  }
}

@media (min-width: 302px) {
  main > h1:first-child {
    margin-top: 70px;
  }

main {
  width: 70vw;
  margin: 0 auto;
}

#about > img:first-of-type,
#previous-work > p:first-of-type,
#projects > div:first-of-type,
#contact > form:first-of-type {
  margin-top: 40px;
}
